.background
{
    background-image: url("https://wallpapercave.com/wp/wp3837895.jpg");
    background-position: center;
    background-size: cover;
}
.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    color: rgb(187, 180, 180);
}
.heading_div{
    float: none;
    background-color: rgb(4, 25, 53);
    padding: 10px;
    border-radius: 20px;
    color: rgb(187, 180, 180);
}
.heading_div2 {
    font-size: 18px;
    color: rgb(187, 180, 180);
}
.result_para_tag{
    color: rgb(187, 180, 180);
    background-color: rgb(0, 29, 36);
    font-size: 20px;
}
.copy_right_footer{
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: grey;
    line-height:3;
    text-align: center;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
    margin-top: 150px;
}
#h3{
    width: 1px;
}